img-comparison-slider {
    --handleSize: 2.15rem;
    --handleBgColor: #fff;
    --handleColor: #333;
    --divider-color: #fff;
    --divider-width: 3px;

    .sliderHandle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--handleSize);
        height: var(--handleSize);
        border-radius: 100%;
        background-color: var(--handleBgColor);

        svg {
            width: 70%;
            height: 70%;
            fill: var(--handleColor);
        }
    }
}
